@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  background-color: #f2f2f2;
}

h1, h2, p {
  margin: 0;
}

.container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .content {
  line-height: 1.5em;
}

.container .content h1 {
  font-size: 50px;
  margin: 50px 0 25px 0;
}

.container .content h1 span {
  color: #9a073c;
}

.container .content p {
  margin: 25px auto;
  width: 80%;
}

.media {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: 25px auto;
}

.media .box {
  width: 150px;
  height: 150px;
  border: 5px solid #e1e0e0;
  background-color: #9a073c;
  font-size: 0.8em;
  margin: 10px 0;
  border-radius: 25px;
}

.media .box a {
  color: #e1e0e0;
  text-decoration: none;
}

.media .box a img {
  margin: 25px 0 0 0;
  width: 67px;
}

.media .box:hover {
  background-color: #0b245b;
  cursor: pointer;
}

.skills {
  width: 100vw;
  height: 50vh;
  text-align: center;
}

.skills h2 {
  border-bottom: 2px solid black;
  width: 100%;
  margin: 25px auto;
}

.skills .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: 0 20%;
}

.skills .row .box-blue {
  width: 150px;
  height: 150px;
  border: 5px solid #e1e0e0;
  background-color: #0b245b;
  font-size: 0.8em;
  margin: 10px 0;
  border-radius: 25px;
}

.skills .row .box-blue img {
  margin: 25px 0 0 0;
}

.skills .row .box-blue:hover {
  background-color: #9a073c;
}

.projects {
  width: 100%;
  text-align: center;
}

.projects h2 {
  border-bottom: 2px solid black;
  width: 100%;
  margin: 0 auto;
}

.projects .projs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects .proj {
  position: relative;
  margin: 5% 0;
  max-width: 800px;
}

.projects .proj img {
  width: 100%;
}

.projects .proj span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.projects .proj span a {
  background-color: #0b245b;
  color: #e1e0e0;
  padding: 10px 25px;
  border-radius: 25px;
  text-decoration: none;
}

.projects .proj span a:hover {
  background-color: #9a073c;
}

.projects .proj:hover {
  opacity: 0.8;
}

.projects .proj:hover span {
  display: block;
}

@media (min-width: 768px) {
  .container .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5% auto;
    max-width: 1000px;
  }
  .container .wrapper img {
    margin: auto 0;
    width: 500px;
    height: 350px;
  }
  .media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .skills {
    height: 30vh;
  }
  .skills h2 {
    border-bottom: 2px solid black;
    width: 20%;
    margin: 0 auto;
  }
  .skills .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 2.5%;
  }
  .projects h2 {
    border-bottom: 2px solid black;
    width: 20%;
    margin: 0% auto;
  }
  .projects .projs {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects .proj {
    margin: 2.5% 0;
  }
}
/*# sourceMappingURL=main.css.map */